# JSON

In [1]:
import requests
import json
import pandas as pd
import psycopg2

In [2]:
# Getting response from Mercado Bitcoin's API
response_API = requests.get('https://www.mercadobitcoin.net/api/BTC/day-summary/2022/7/5/')

In [3]:
# Adding the response to a variable
data = response_API.text

In [8]:
data

'{"date":"2022-07-05","opening":107350,"closing":106617.99998999,"lowest":104000,"highest":111158.81145816,"volume":"8949876.37974790","quantity":"83.18839928","amount":5257,"avg_price":107585.63041493}'

In [10]:
type(data)

str

In [5]:
# Converting reponse to JSON standard
data_json = json.loads(data)

In [9]:
type(data_json)

dict

In [6]:
# Printing in JSON format
data_json

{'date': '2022-07-05',
 'opening': 107350,
 'closing': 106617.99998999,
 'lowest': 104000,
 'highest': 111158.81145816,
 'volume': '8949876.37974790',
 'quantity': '83.18839928',
 'amount': 5257,
 'avg_price': 107585.63041493}

In [9]:
# creating Pandas dataframe from the JSON using "json_normalize" method
df = pd.json_normalize(data_json)

In [11]:
# Printing dataframe
df.head()

,date,opening,closing,lowest,highest,volume,quantity,amount,avg_price
0,2022-07-05,107350,106617.99999,104000,111158.811458,8949876.37974790,83.18839928,5257,107585.630415

# Database

In [28]:
# Creating connection to Postgres database on local machine
conn = psycopg2.connect(
    database='projeto-pos', user='postgres',
    password='123456', host='localhost', port='5433'
)

In [29]:
#Setting auto commit true
conn.autocommit = True

In [30]:
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [45]:
#Retrieving data
cursor.execute('''SELECT * from projeto.bitcoin_history''')

In [46]:
#Fetching 1st row from the table
result = cursor.fetchone();
print(result)

(datetime.date(1999, 5, 7), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('12345678.12345678'), Decimal('123.12345678'), 10000, Decimal('123456.12345678'))

In [82]:
postgres_insert_query = """ INSERT INTO projeto.bitcoin_history ("date_summary",
                                                                "opening",
                                                                "closing",
                                                                "lowest",
                                                                "highest", 
                                                                "volume",
                                                                "quantity", 
                                                                "amount",
                                                                "avg_price") 
                                                                VALUES 
                                                                (%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s)"""

In [83]:
# Creating a sample record to input
record_to_insert = ('2000-05-07', 123456.12345678, 123456.12345678, 123456.12345678, 123456.12345678,
                    12345678.12345678, 123.12345678, 10000, 123456.12345678)

In [84]:
# Executing the query. First argument is the SQL itself and the second argument is the data to be inputted.
cursor.execute(postgres_insert_query, record_to_insert)

In [88]:
# Commiting the query
conn.commit()

In [90]:
#Retrieving data
cursor.execute('''SELECT * from projeto.bitcoin_history''')

In [91]:
# Assigning the SELECT to result variable
result = cursor.fetchall()

In [92]:
# Printing result. As we can see, our query has run successfully.
print(result)

[(datetime.date(1999, 5, 7), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('12345678.12345678'), Decimal('123.12345678'), 10000, Decimal('123456.12345678')), (datetime.date(2000, 5, 7), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('123456.12345678'), Decimal('12345678.12345678'), Decimal('123.12345678'), 10000, Decimal('123456.12345678'))]